@charset "UTF-8";

$tabs-link-active-color: rgb(72, 199, 142);

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.place-thumb {
  width: 150px;
  min-height: 150px;
  max-height: 150px;
  border-radius: 4px;
  object-fit: cover;
}

.media {
  min-height: 150px;
}

@import "../node_modules/bulma/bulma.sass";

.is-favourite {
  color: #f14668 !important;
  font-weight: 900;
}
