<div class="table-container">
  <h3 class="title is-3">
    All Categories
  </h3>
  <hr>
  <table class="table is-striped is-fullwidth is-hoverable">
    <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each categories}}
    <tr>
      <td><a href="/places/category/{{slug_name}}">{{name}}</a></td>
      <td>
        <a href="/admin/categories/edit/{{_id}}" class="btn btn-primary">
          <i class="fas fa-pencil" aria-hidden="true"></i>
        </a>
        <a href="/admin/categories/delete/{{_id}}" class="btn btn-danger" onclick="return verifyDelete()">
          <i class="fas fa-trash" aria-hidden="true"></i>
        </a>
      </td>
    </tr>
    {{/each}}
  </table>
</div>