<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="title is-3">Account Settings</h3>
      <hr>
      <form id="settingsForm" class="form-horizontal" method="post" action="/settings/update" enctype="multipart/form-data">
        <div class="field">
          <label for="email" class="label">Email:</label>
          <div class="col-sm-10">
            <input type="email" class="input" id="email" name="email" placeholder="Email" value="{{user.email}}" disabled required>
          </div>
        </div>
        <div class="field">
          <label for="password" class="label">Change password:</label>
          <div class="col-sm-10">
            <input type="password" class="input" id="password" name="password" maxlength="6">
            <p><small>Max length 6 characters</small></p>
          </div>
        </div>
        <div class="field">
          <label for="password-confirm" class="label">Repeat password:</label>
          <div class="col-sm-10">
            <input type="password" class="input" id="password-confirm" name="passwordConfirm" maxlength="6">
          </div>
        </div>
        <div class="field">
          <label for="firstname" class="label">First name:</label>
          <div class="col-sm-10">
            <input type="text" class="input" id="firstname" name="firstName" placeholder="First name" value="{{user.firstName}}">
          </div>
        </div>
        <div class="field">
          <label for="lastname" class="label">Last name:</label>
          <div class="col-sm-10">
            <input type="text" class="input" id="lastname" name="lastName" placeholder="Last name" value="{{user.lastName}}">
          </div>
        </div>
        <div class="field">
          <label for="profileImage" class="label">Profile Image</label>
          <div class="col-sm-10">
            <img src="{{user.profileImage}}" alt="Profile image" class="profile-image">
            <input type="file" class="input" name="profileImage">
          </div>
        </div>
        <div class="field">
          <p class="control">
            <button class="button is-success">
              Save Changes
            </button>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
