
<section class="hero mt-4">
  <div class="hero-body">
    <p class="title">
      Info hero
    </p>
    <p class="subtitle">
      Info subtitle
    </p>
  </div>
</section>

<div class="container mt-4">

  <div class="columns">

    <div class="column">
      <img src="https://picsum.photos/500" alt="">
    </div>

    <div class="column">
      <div class="tabs is-boxed is-medium">
        <ul>
          <li class="is-active" onclick="showLogin(this)">
            <a>
              <span>Login</span>
            </a>
          </li>
          <li onclick="showRegister(this)">
            <a>
              <span>Register</span>
            </a>
          </li>
        </ul>
      </div>

      {{> loginform }}

      <!--- Register Form ---->
      <div id="register" class="" style="display: none">
        <h1 class="title is-3">Create a new account:</h1>
        <form action="/login" method="POST">
          <div class="field">
            <label class="label">Name</label>
            <p class="control has-icons-left">
              <input class="input" type="email" placeholder="Email">
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <label class="label">Password</label>
            <p class="control has-icons-left">
              <input class="input" type="password" placeholder="Password">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control">
              <button class="button is-success">
                Login
              </button>
            </p>
          </div>
        </form>
      </div>

    </div>

    
  </div>

  </div>
</div>