<aside class="menu">
  <p class="menu-label">
    General
  </p>
  <ul class="menu-list">
    <li><a 
    class="{{#if active.Dashboard}}is-active{{/if}}"
    href="/dashboard">Dashboard</a></li>
    <li><a 
    class="{{#if active.MyPlaces}}is-active{{/if}}"
    href="/places">My Places</a></li>
    <li><a 
    class="{{#if active.AddPlace}}is-active{{/if}}"
    href="/places/new">Add a Place</a></li>
  </ul>

  <p class="menu-label">
    Account
  </p>
  <ul class="menu-list">
    <li>
      <a 
      class="{{#if active.Profile}}is-active{{/if}}"
      href="/users/{{user._id}}">
        Profile
      </a>
    </li>
    <li><a 
    class="{{#if active.Settings}}is-active{{/if}}"
    href="/settings">Settings</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>


  {{#ifEq user.role "admin" }}
  <p class="menu-label">
    Administration
  </p>
  <ul class="menu-list">
    <ul>
      <li>
      <a href="/admin"
        class="{{#if active.AdminDashboard}}is-active{{/if}}">Dashboard</a>
      </li>
    </ul>
    <li>
      <a>Users</a>
      <ul>
        <li><a 
        class="{{#if active.AllUsers}}is-active{{/if}}"
        href="/admin/users">All Users</a></li>
        <li><a 
        class="{{#if active.AddUser}}is-active{{/if}}"
        href="/admin/users/add">Add a User</a></li>
      </ul>
    </li>
    <li>
      <a>Categories</a>
      <ul>
        <li><a 
        class="{{#if active.AllCategories}}is-active{{/if}}"
        href="/admin/categories">All Categories</a></li>
        <li><a 
        class="{{#if active.AddCategory}}is-active{{/if}}"
        href="/admin/categories/add">Add a Category</a></li>
    </li>
  </ul>
  {{/ifEq}}

</aside>

