<aside class="menu">
  <p class="menu-label">
    General
  </p>
  <ul class="menu-list">
    <li><a 
    class="{{#if active.Dashboard}}is-active{{/if}}"
    href="/dashboard">Dashboard</a></li>
    <li><a 
    class="{{#if active.MyPlaces}}is-active{{/if}}"
    href="/dashboard/places">My Places</a></li>
    <li><a 
    class="{{#if active.AddPlace}}is-active{{/if}}"
    href="/dashboard/places/new">Add a Place</a></li>
  </ul>

  {{#if user.isAdmin }}
  <p class="menu-label">
    Administration
  </p>
  <ul class="menu-list">
    <li>
      <a>Manage Users</a>
      <ul>
        <li><a 
        class="{{#if active.AllUsers}}is-active{{/if}}"
        href="/dashboard/admin/users">All Users</a></li>
        <li><a 
        class="{{#if active.AddUser}}is-active{{/if}}"
        href="/dashboard/admin/users/add">Add a User</a></li>
      </ul>
    </li>
  </ul>
  {{/if}}

  <p class="menu-label">
    Account
  </p>
  <ul class="menu-list">
    <li><a 
    class="{{#if active.Settings}}is-active{{/if}}"
    href="/dashboard/settings">Settings</a></li>
    <li><a>Transfers</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</aside>
{{helper}}